body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #121212;
    color: white;
}

/* МЕНЮ */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background: #1f1f1f;
    position: sticky;
    top: 0;
}

.logo {
    font-weight: bold;
    color: #00bfff;
    font-size: 18px;
}

nav a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    transition: 0.3s;
}

nav a:hover {
    color: #00bfff;
}

/* КОНТЕНТ */
.content {
    text-align: center;
    margin-top: 120px;
}

h1 {
    color: #00bfff;
}
.hero {
    max-width: 800px;
    margin: 0 auto;
    padding: 40px 20px;
}

.hero h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

.hero p {
    font-size: 20px;
    color: #cfcfcf;
    margin-bottom: 35px;
}

.btn {
    display: inline-block;
    background: #00bfff;
    color: white;
    text-decoration: none;
    padding: 15px 35px;
    border-radius: 10px;
    font-weight: bold;
    transition: 0.3s;
}

.btn:hover {
    background: #009acd;
    transform: scale(1.05);
}